.music-summary-container
  display flex
  .music-group-container
    width: 100%
    margin-left: 12px
    display flex
    flex-direction column
    justify-content space-between
    .music-group
      display flex
      align-items center
      justify-content flex-end
      height: 184px
      overflow hidden
      .music-li
        flex 1
        max-width 250px
        height: 100%
        margin-right: 12px
        border-radius 1px
        overflow hidden
      .music-li:last-child
        margin-right: unset
