@import '../../common/stylus/variable.styl'

.article-summary
  font-size $text-size-sm
  // background linear-gradient(to right bottom, rgba(179, 179, 179, 0.2), rgba(40, 44, 52, 0.5))
  .title
    color #ffffff
    font-weight 500
    margin-bottom: 6px
  .tips
    margin-top: 6px
    font-size $text-size-sm-x
    text-align right
