@import "variable.styl"
*
  padding 0
  margin 0

.module-title
  margin-bottom: 12px
.neo-card
  padding 12px
  box-sizing border-box
  border: 1px solid $text-color-d;
  border-radius 6px
  color $text-color-d
  box-shadow 0 0 5px #181818
