.page-home
  padding 0 12px
  height 100vh
  overflow scroll
  overflow-x hidden
  &::-webkit-scrollbar
    width 4px
  &::-webkit-scrollbar-thumb
    border-radius 6px
    background linear-gradient(red, orange, yellow, green, #007FFF, blue, purple)
  &::-webkit-scrollbar-track
    background transparent
  .page-item
    margin-bottom: 24px
  .page-item:first-child
    margin-top: 24px
